@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
}

.text-gradient {
  background: linear-gradient(62.8deg, #00c0fd -30.73%, #e70faa 98.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
